<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Spazio | Spa</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/animate.min.css" rel="stylesheet"> 
  <link href="css/font-awesome.min.css" rel="stylesheet">
  <link href="css/lightbox.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
  <link id="css-preset" href="css/presets/preset1.css" rel="stylesheet">
  <link href="css/responsive.css" rel="stylesheet">
  
<script type="text/javascript" src="http://maps.google.com/maps/api/js"></script>
    <!-- Smartsupp Live Chat script -->
    <script type="text/javascript">
var _smartsupp = _smartsupp || {};
_smartsupp.key = '100dbefa5f6795a146cb5073ec1ec37095882467';
window.smartsupp||(function(d) {
	var s,c,o=smartsupp=function(){ o._.push(arguments)};o._=[];
	s=d.getElementsByTagName('script')[0];c=d.createElement('script');
	c.type='text/javascript';c.charset='utf-8';c.async=true;
	c.src='//www.smartsuppchat.com/loader.js?';s.parentNode.insertBefore(c,s);
})(document);
    </script>
  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
  <![endif]-->
  
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="images/spazio.ico">
</head><!--/head-->

<body>

  <!--.preloader-->
  <div class="preloader"> <i class="fa fa-circle-o-notch fa-spin"></i></div>
  <!--/.preloader-->

  <header id="home">
    <div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
        <div class="item active" style="background-image: url(images/slider/spa2.png)">
          <!--<div class="caption">-->
            <!--<h1 class="animated fadeInLeftBig">Bienvenido </h1>-->
            <!--<p class="animated fadeInRightBig">Bootstrap - Responsive Design - Retina Ready - Parallax</p>-->
            <!--<a data-scroll class="btn btn-start animated fadeInUpBig" href="#services">Iniciemos</a>-->
          <!--</div>-->
        </div>
        <div class="item" style="background-image: url(images/Masajes/piedras.jpg)">
         <!-- <div class="caption">-->
           <!-- <h1 class="animated fadeInLeftBig"><span>Spazio Spa</span></h1>-->
            <!--<p class="animated fadeInRightBig">Bootstrap - Responsive Design - Retina Ready - Parallax</p>-->
           <!-- <a data-scroll class="btn btn-start animated fadeInUpBig" href="#services">Iniciemos</a>-->
          <!--</div>-->
        </div>
        <div class="item" style="background-image: url(images/about-bg.jpg)">
          <!--<div class="caption">-->
           <!-- <h1 class="animated fadeInLeftBig"><span>Tranquilidad a tu alcance</span></h1>-->
            <!--<p class="animated fadeInRightBig">Bootstrap - Responsive Design - Retina Ready - Parallax</p>-->
            <!--<a data-scroll class="btn btn-start animated fadeInUpBig" href="#services">Iniciemos</a>-->
          <!--</div>-->
        </div>
      </div>
      <a class="left-control" href="#home-slider" data-slide="prev"><i class="fa fa-angle-left"></i></a>
      <a class="right-control" href="#home-slider" data-slide="next"><i class="fa fa-angle-right"></i></a>

      <a id="tohash" href="#services"><i class="fa fa-angle-down"></i></a>

    </div><!--/#home-slider-->
    <div class="main-nav">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <!--<span class="sr-only">Toggle navigation</span>-->
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">
            <h1><img class="img-responsive" src="images/team/logo.png" width="100" alt="logo"></h1>
          </a>                    
        </div>
        <div class="collapse navbar-collapse" >
          <ul class="nav navbar-nav navbar-right">                 
            <li class="scroll active"><a href="#home">Inicio</a></li>
            <li class="scroll"><a href="#services">Servicios</a></li> 
            <li class="scroll"><a href="#about-us">Promociones</a></li>                     
            <li class="scroll"><a href="#portfolio">Galería</a></li>
            <li class="scroll"><a href="#contact">Contactanos</a></li>   
            <li class="scroll"><a href="Password.aspx">Administracion</a></li>        
          </ul>
        </div>
      </div>
    </div><!--/#main-nav-->
  </header><!--/#home-->
  <section id="services">
    <div class="container">
      <div class="heading wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
        <div class="row">
          <div class="text-center col-sm-8 col-sm-offset-2">
            <h2>Nuestros Servicios</h2>
            <p>Conozca nuestra variedad de servicios con los cuales tendrá una experiencia única</p>
          </div>
        </div> 
      </div>
      <div class="text-center our-services">
        <div class="row">
          <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms" align="center"  >
            <img id='c1' class="img-responsive" src="images/Masajes.jpg" alt="" width="250" height="100" onmouseover="" >

<!--            <div class="service-icon">-->
              <!--<i class="fa fa-flask"></i>-->
<!--            </div>-->
            <div class="service-info">
              <h3>Masajes</h3>
              <p>Conoce la variedad de masajes que tenemos para ti</p>
            </div>
          </div>
          <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms" align="center">
            <img id='c2' class="img-responsive" src="images/Facial.jpg" alt="" width="160" height="200">

           <!-- <div class="service-icon">
              <i class="fa fa-umbrella"></i>
            </div>-->
            <div class="service-info">
              <h3>Faciales</h3>
              <p>Tenemos un facial especial para ti</p>
            </div>
          </div>
          <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="550ms" align="center">
            <img id='c3' class="img-responsive" src="images/Tratamientos.jpg" alt="" width="165" height="80">
<!--            <div class="service-icon">
              <i class="fa fa-cloud"></i>
            </div>-->
            <div class="service-info">
              <h3>Tratamientos</h3>
              <p>Especiales para cada tipo de piel </p>
            </div>
          </div>
          <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="650ms" align="center">
            <img id='c4' class="img-responsive" src="images/Promociones.jpg" alt="" width="200" height="150">
           <!-- <div class="service-icon">
              <i class="fa fa-coffee"></i>
            </div>-->
            <div class="service-info">
              <h3>Videos</h3>
              <p>Entra y conoce como realizamos nuestros servicios</p>
            </div>
          </div>
          <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="750ms" align="center">
            <img id='c5' class="img-responsive" src="images/GaleriaP.jpg" alt="" width="150" height="150">
          <!--  <div class="service-icon">
              <i class="fa fa-bitbucket"></i>
            </div>-->
            <div class="service-info">
              <h3>Galería</h3>
              <p>Conoce nuestras instalaciones</p>
            </div>
          </div>
          <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="850ms" align="center">
            <img id='c6' class="img-responsive" src="images/Productos.jpg" alt="" width="190" height="200">
         <!--   <div class="service-icon">
              <i class="fa fa-gift"></i>
            </div>-->
            <div class="service-info">
              <h3>Productos</h3>
              <p>Conoce los productos que usamos</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!--/#services-->
  <section id="about-us" class="parallax">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="about-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
            <h2>Promociones</h2>
            <p>Dejate consentir con las promociones especiales del mes </p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="our-skills wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="single-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="folio-image">
             
               <img class="img-responsive" src="images/Promos.jpg" >
            </div>
              <!--<p class="lead">User Experiances</p>
              <div class="progress">
                <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar"  aria-valuetransitiongoal="95">95%</div>
              </div>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!--/#about-us-->

  <section id="portfolio">
    <div class="container">
      <div class="row">
        <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
          <h2>Nuestra Galería</h2>
          <p>Conoce nuestras instalaciones</p>
        </div>
      </div> 
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3">
          <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="folio-image">
               <img class="img-responsive" src="images/portfolio/Recepcio.jpg" >
            </div>
            <div class="overlay">
              <div class="overlay-content">
                <div class="overlay-text">
                  <div class="folio-info">
                    <!--<h3>Time Hours</h3>
                    <p>Design, Photography</p>-->
                  </div>
                  <div class="folio-overview">
                   <!-- <span class="folio-link"><a class="folio-read-more" href="#" data-single_url="portfolio-single.html" ><i class="fa fa-link"></i></a></span>-->
                    <span class="folio-expand"><a href="images/portfolio/Recepcio.jpg" data-lightbox="portfolio"><i class="fa fa-search-plus"></i></a></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="400ms">
            <div class="folio-image">
              <img class="img-responsive" src="images/portfolio/Cabina3.jpg" alt="">
            </div>
            <div class="overlay">
              <div class="overlay-content">
                <div class="overlay-text">
                  <div class="folio-info">
                    <!--<h3>Time Hours</h3>
                    <p>Design, Photography</p>-->
                  </div>
                  <div class="folio-overview">
                    <span class="folio-expand"><a href="images/portfolio/Cabina3.jpg" data-lightbox="portfolio"><i class="fa fa-search-plus"></i></a></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="500ms">
            <div class="folio-image">
              <img class="img-responsive" src="images/portfolio/Entrada.jpg" alt="">
            </div>
            <div class="overlay">
              <div class="overlay-content">
                <div class="overlay-text">
                  <div class="folio-info">
                  </div>
                  <div class="folio-overview">
                    <span class="folio-expand"><a href="images/portfolio/Entrada.jpg" data-lightbox="portfolio"><i class="fa fa-search-plus"></i></a></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="600ms">
            <div class="folio-image">
              <img class="img-responsive" src="images/portfolio/Recepcion.jpg" alt="">
            </div>
            <div class="overlay">
              <div class="overlay-content">
                <div class="overlay-text">
                  <div class="folio-info">
                  </div>
                  <div class="folio-overview">
                    <span class="folio-expand"><a href="images/portfolio/Recepcion.jpg" data-lightbox="portfolio"><i class="fa fa-search-plus"></i></a></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="700ms">
            <div class="folio-image">
              <img class="img-responsive" src="images/portfolio/Recepcion2.jpg" alt="">
            </div>
            <div class="overlay">
              <div class="overlay-content">
                <div class="overlay-text">
                  <div class="folio-info">
                  </div>
                  <div class="folio-overview">
                    <span class="folio-expand"><a href="images/portfolio/Recepcion2.jpg" data-lightbox="portfolio"><i class="fa fa-search-plus"></i></a></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="800ms">
            <div class="folio-image">
              <img class="img-responsive" src="images/portfolio/Cabina5.jpg" alt="">
            </div>
            <div class="overlay">
              <div class="overlay-content">
                <div class="overlay-text">
                  <div class="folio-info">
                  </div>
                  <div class="folio-overview">
                    <span class="folio-expand"><a href="images/portfolio/Cabina5.jpg" data-lightbox="portfolio"><i class="fa fa-search-plus"></i></a></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="900ms">
            <div class="folio-image">
              <img class="img-responsive" src="images/portfolio/Cabina1.jpg" alt="">
            </div>
            <div class="overlay">
              <div class="overlay-content">
                <div class="overlay-text">
                  <div class="folio-info">
                  </div>
                  <div class="folio-overview">
                    <span class="folio-expand"><a href="images/portfolio/Cabina1.jpg" data-lightbox="portfolio"><i class="fa fa-search-plus"></i></a></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="1000ms">
            <div class="folio-image">
              <img class="img-responsive" src="images/portfolio/Cabina2.jpg" alt="">
            </div>
            <div class="overlay">
              <div class="overlay-content">
                <div class="overlay-text">
                  <div class="folio-info">
                  </div>
                  <div class="folio-overview">
                    <span class="folio-expand"><a href="images/portfolio/Cabina2.jpg" data-lightbox="portfolio"><i class="fa fa-search-plus"></i></a></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="1000ms">
            <div class="folio-image">
              <img class="img-responsive" src="images/portfolio/Cabina3.jpg" alt="">
            </div>
            <div class="overlay">
              <div class="overlay-content">
                <div class="overlay-text">
                  <div class="folio-info">
                  </div>
                  <div class="folio-overview">
                    <span class="folio-expand"><a href="images/portfolio/Cabina3.jpg" data-lightbox="portfolio"><i class="fa fa-search-plus"></i></a></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="1000ms">
            <div class="folio-image">
              <img class="img-responsive" src="images/portfolio/Cabina4.jpg" alt="">
            </div>
            <div class="overlay">
              <div class="overlay-content">
                <div class="overlay-text">
                  <div class="folio-info">
                  </div>
                  <div class="folio-overview">
                    <span class="folio-expand"><a href="images/portfolio/Cabina4.jpg" data-lightbox="portfolio"><i class="fa fa-search-plus"></i></a></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="1000ms">
            <div class="folio-image">
              <img class="img-responsive" src="images/portfolio/Sauna2.jpg" alt="">
            </div>
            <div class="overlay">
              <div class="overlay-content">
                <div class="overlay-text">
                  <div class="folio-info">
                  </div>
                  <div class="folio-overview">
                    <span class="folio-expand"><a href="images/portfolio/Sauna3.jpg" data-lightbox="portfolio"><i class="fa fa-search-plus"></i></a></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3" >
          <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="1000ms">
            <div class="folio-image">
              <img class="img-responsive" src="images/portfolio/Sauna1.jpg" alt=""  >
            </div>
            <div class="overlay">
              <div class="overlay-content">
                <div class="overlay-text">
                  <div class="folio-info">
                  </div>
                  <div class="folio-overview">
                    <span class="folio-expand"><a href="images/portfolio/Sauna1.jpg" data-lightbox="portfolio"><i class="fa fa-search-plus"></i></a></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="portfolio-single-wrap">
      <div id="portfolio-single">
      </div>
    </div><!-- /#portfolio-single-wrap -->
  </section><!--/#portfolio-->



  <section id="contact">
    <div id="google-map" class="wow fadeIn" data-latitude="19.301891" data-longitude="-99.1915987" data-wow-duration="1000ms" data-wow-delay="400ms"></div>
    <div id="contact-us" class="parallax">
      <div class="container">
        <div class="row">
          <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
            <h2>CONTACTANOS</h2>
            <p>En este lugar encontrara además de uno de los mejores hoteles de la región un importante Spazio dedicado al descanso y cuidado del cuerpo,
              Te brindamos la mejor atención con tratamientos de alta calidad internacional con precios muy accesibles para poder disfrutar de los mejores servicios.</p>
          </div>
        </div>
        <div class="contact-form wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
          <div class="row">
            <div class="col-sm-6">
              <form id="main-contact-form" name="contact-form" method="post" action="#">
                <div class="row wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input type="text" name="name" class="form-control" placeholder="Nombre" required="required">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input type="email" name="email" class="form-control" placeholder="Email" required="required">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" name="subject" class="form-control" placeholder="Título" required="required">
                </div>
              
                <div class="form-group">
                  <textarea name="message" id="message" class="form-control" rows="4" placeholder="Describe los tipos de servicios que requieres y asi poderte agendar" required="required"></textarea>
                </div>                        
                <div class="form-group">
                  <button type="submit" class="btn-submit">Enviar Ahora</button>
                </div>
              </form>   
            </div>
            <div class="col-sm-6">
              <div class="contact-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <p>Marca para informarte de cualquier promocion y servicio que tenemos a tu  disposicion,o escribenos a nuestra email sobre informes y recibiras  una respuesta a tus dudas</p>
                <ul class="address">
                  <li><i class="fa fa-map-marker"></i> <span> Dirección:</span> Col. Mexico D.F., Cuspide 53, Parques del Pedregal, 14020 Mexico City </li>
                  <li><i class="fa fa-phone"></i> <span> Teléfono:</span> 59275959 ext. 1088  </li>
                  <li><i class="fa fa-envelope"></i> <span> Email:</span><a href="spazio_spa@yahoo.es"> spazio_spa@yahoo.es</a></li>
                </ul>
              </div>                            
            </div>
          </div>
        </div>
      </div>
    </div>        
  </section><!--/#contact-->
  <footer id="footer" >
    <div class="footer-top wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
      <div class="container text-center">
        <div class="footer-logo">
          <a href="index.html"><img class="img-responsive" src="images/team/logo.png" width="50" alt=""></a>
        </div>
        <div class="social-icons">
          <ul>
            <li><a class="instagram" href="https://www.instagram.com/spaziospa/"><i class="fa fa-instagram"></i></a></li>
            <li><a class="twitter" href="https://twitter.com/spaspazio"><i class="fa fa-twitter"></i></a></li> 
            <li><a class="facebook" href="https://www.facebook.com/spazio.integral?fref=ts"><i class="fa fa-facebook"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <p>&copy; 2016 Oxygen Theme.</p>
          </div>
          <div class="col-sm-6">
            <p class="pull-right">Creado por <a >N&O Tecnologías</a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script type="text/javascript" src="js/jquery.js"></script>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/jquery.inview.min.js"></script>
  <script type="text/javascript" src="js/wow.min.js"></script>
  <script type="text/javascript" src="js/mousescroll.js"></script>
  <script type="text/javascript" src="js/smoothscroll.js"></script>
  <script type="text/javascript" src="js/jquery.countTo.js"></script>
  <script type="text/javascript" src="js/lightbox.min.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
    <script>

        $("#c1").click(function () {
            window.location.href = 'Masajes1.aspx';         
        });
        $("#c2").click(function () {
            window.location.href = 'Faciales1.aspx';
        });
        $("#c3").click(function () {
            window.location.href = 'Tratamientos1.aspx';
        });
        $("#c4").click(function () {
            window.location.href = 'Videos.aspx';
        });
        $("#c5").click(function () {
            window.location.href = 'Galerias1.aspx';
        });
        $("#c6").click(function () {
            window.location.href = 'Productos1.aspx';
        });
       
       
    </script>
</body>
</html>